%br
%h5.center-align Resend confirmation instructions
.row
  .col.m6.offset-m3.s12
    .card
      .card-content
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
          .actions.center-align
            = f.submit "Resend confirmation instructions",class: "btn waves-effect waves-light"
      .card-action
        = render "devise/shared/links"
