%br
%h5.center-align New user registration
.row
  .col.m6.offset-m3.s12
    .card
      .card-content
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions.right-align
            = f.submit "Sign up" , class: "btn waves-effect waves-light"
      .card-action
        = render "devise/shared/links"
